<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>HI</title>
    <link href="{{ url_for('static', filename='style.css') }}"
      rel="stylesheet"/>
</head>
<body>
<div class="container">
        <h2>User Dashboard</h2>
<p><b>Name:</b> {{ user.username }}</p>
<p><b>Email:</b> {{ user.email }}</p>

<h3>Chat with:</h3>
<ul>
    {% for receiver in receivers %}
    <li><a href="/chat/{{ receiver.id }}">{{ receiver.username }}</a></li>
    {% endfor %}
</ul>

<a href="{{ url_for('logout') }}">Logout</a>

    </div>
</body>
</html>